<h2 class="text-xl my-2">{{artist.name}}</h2>
<details class="text-sm text-slate-500 cursor-pointer">
    <summary class="text-sm text-slate-500 cursor-pointer">
        JSON
    </summary>
    {{artist|tojson(indent=4)}}
</details>
<dl class="space-y-2">
    <div>
        <dt class="text-xs text-slate-700">Profile</dt>
        <dd>{{artist.profile|d()}}</dd>
    </div>

    <div>
        <dt class="text-xs text-slate-700">Real Name</dt>
        <div class="flex flex-wrap gap-1">
            {{artist.realname|d()}}
        </div>
    </div>

    <div>
        <dt class="text-xs text-slate-700">Name Variations</dt>
        <div class="flex flex-wrap gap-1">
            {% for alias in artist.namevariations|d() %}
            <dd class="rounded-full px-2 bg-gray-300 text-xs">{{alias}}</dd>
            {% endfor %}
        </div>
    </div>

    <div>
        <dt class="text-xs text-slate-700">Aliases</dt>
        <div class="flex flex-wrap gap-1">
            {% for alias in artist.aliases|d() %}
            <dd class="rounded-full px-2 bg-gray-300 text-xs"><a href=""
                    class="text-blue-500 underline">{{alias['#text']}}</a></dd>
            {% endfor %}
        </div>
    </div>

    <div>
        <dt class="text-xs text-slate-700">Groups</dt>
        <div class="flex flex-wrap gap-1">
            {% for group in artist.groups|d() %}
            <dd class="rounded-full p-1 bg-gray-300 text-xs"><a href=""
                    class="text-blue-500 underline">{{group['#text']}}</a></dd>
            {% endfor %}
        </div>
    </div>
    <div>
        <dt class="text-xs text-slate-700">Releases</dt>
        <div class="space-y-1" hx-get="/artist/{{artist.id}}/releases" hx-trigger="load">
        </div>
    </div>
</dl>