{% for release in releases %}
<div class="hover:bg-slate-200 rounded p-2 cursor-pointer" hx-get="/release/{{release['id']}}" hx-target="#release">
    <div class="text-xl">
        {% if release['released'] is defined %}
        <div class="rounded bg-slate-200 float-right p-1 leading-none">{{release['released']}}</div>
        {% endif %}

        {% if release['wanted'] %}
        <div class="rounded bg-slate-200 float-right p-1 leading-none">Wanted</div>
        {% endif %}

        {{release['title']}}
    </div>
    <div>{{release['artists']|map(attribute="name")|join(', ')}}</div>
</div>
{% endfor %}