{% for release in releases['hits']['hits'] %}
<div class="hover:bg-slate-200 rounded p-2 cursor-pointer" hx-get="/release/{{release['_id']}}" hx-target="#release">
    <div class="text-xl">
        {% if release['_source']['released'] is defined %}
        <div class="rounded bg-slate-200 float-right p-1 leading-none">{{release['_source']['released']}}</div>
        {% endif %}
        {{release['_source']['title']}}
    </div>
    <div>{{release['_source']['artists']|map(attribute="name")|join(', ')}}</div>
</div>
{% endfor %}