@tailwind base;
@tailwind components;
@tailwind utilities;

.hidden-indicator {
    display: none;
}

.htmx-request .hidden-indicator {
    display: inline;
}

.htmx-request.hidden-indicator {
    display: inline;
}

.htmx-request .button-icon {
    display: none;
}