<div id="release{{release.id}}" class="rounded border sm:flex bg-slate-100 shadow">
    <div class="sm:w-1/2 px-2 pt-2 *:mb-2 last:mb-0">
        {# Thumbnail #}
        <div class="float-right ml-2 flex-none w-24 h-24 bg-gray-500 flex items-center justify-center overflow-hidden">
            {%if 'user' not in session %}
            <a href="/login" class="p-2">
                Login to see covers.
            </a>{% else %}<div hx-get="/thumb/{{release.id}}" id="loading{{release.id}}" hx-preserve
                hx-trigger="intersect once" hx-swap="innerHTML">
                Loading...
            </div>
            {% endif %}
        </div>

        {# Title and Year #}
        <div class="">
            <div class="rounded bg-slate-200 float-right p-1 leading-none">{{release.released|d()}}</div>

            <h2 class="text-lg leading-none"><a target="_blank" href="https://discogs.com/release/{{release.id}}"
                    class="hover:underline line-clamp-3">{{release.title}}</a></h2>
            <span class="text-slate-500 text-xs">by</span> {{release.artists|map(attribute="name")|join(', ')}}
        </div>

        {# Styles #}
        <div class="flex flex-wrap gap-2">
            {% for style in release.styles|d([]) %}
            <div class="rounded-full bg-slate-200 p-1 leading-none">{{style}}</div>
            {% endfor %}
        </div>

        {# Data #}
        <dl class="space-y-2">
            <div class="hidden sm:block">
                <dt class="text-xs text-slate-700">Label</dt>
                {% for label in release.labels %}
                <dd>
                    <a href="https://discogs.com/label/{{label.id}}"
                        class="hover:underline block -mb-1">{{label.name}}</a>
                    <span class="text-slate-400 text-xs leading-none">{{label.catno}}</span>
                </dd>
                {% endfor %}
            </div>
            <div>
                <dt class="text-xs text-slate-700">Format</dt>{% if release.formats is defined %}
                {% for f in release.formats %}
                <dd>
                    {{f.text|d()}}
                    {{f.descriptions|d()|join(' ')}} {{f.name|d()}}
                </dd>{% endfor %} {% endif %}
            </div>
            <div class="w-full hidden sm:block">
                <dt class="text-xs text-slate-700">Tracks</dt>
                {% for track in release.tracklist %}
                <dd class="text-xs flex gap-2">
                    <div class="text-slate-400">{{track.position|d()}}</div> {{track.title|d('Untitled')}}
                    <div class="grow"></div> {{track.duration|d('')}}
                </dd>
                {% endfor %}
            </div>
        </dl>
        {#
        <pre class="w-full text-wrap overflow-auto h-64 text-slate-400">{{release}}</pre> #}
    </div>
    <div class="sm:w-1/2 order-first">
        {% if release.videos is defined %}
        <div id="videos{{release.id}}" class="">
            <iframe loading="lazy"
                src="https://www.youtube.com/embed/?playlist={{release.videos|unique|join(',')}}&version=3&fs=0&enablejsapi=0&rel=0"
                frameborder="0" allow="accelerometer; autoplay;
            encrypted-media; gyroscope;
            picture-in-picture" allowfullscreen class="w-full aspect-video"></iframe>
            {#
            <pre class="text-wrap">{{release.videos}}</pre> #}
        </div>
        {% endif %}
        <div class="">
            <input type="hidden" name="release_id" value="{{release.id}}" />
            <button hx-post="/want" hx-target="closest div" hx-trigger="click" hx-include="closest div"
                class="border rounded p-2 bg-emerald-400 hover:bg-emerald-700">I want this.</button>
            <button hx-post="/hide" hx-target="#release{{release.id}}" hx-trigger="click"
                hx-include="#release{{release.id}}, #search, #filters, #pagination"
                class="border rounded p-2 bg-rose-400 hover:bg-rose-700">Hide
                this.</button>
        </div>

        <div class="p-2 w-full hidden sm:block">
            <dt class="text-xs text-slate-700">Notes</dt>
            <dd>
                <pre class="text-wrap">{{release.notes|d('')}}</pre>
            </dd>
        </div>

    </div>

</div>