{% from "components/youtube.jinja" import youtube %}
{% from "components/thumb.jinja" import thumb %}
{% from "components/tags.jinja" import tags %}

<div id="release{{release.id}}" class="release rounded border bg-slate-100 shadow"
    hx-on::after-swap="event.stopPropagation()">
    <input type="hidden" name="search_after" value="{{release.sort}}" />

    <div id="videos{{release.id}}" class="w-full">
        {{ youtube(release.videos) }}
    </div>

    <div class="flex space-x-2 p-2">
        <div class="flex-grow sm:w-2/3 *:mb-2 last:mb-0">
            {# Thumbnail #}
            <div class="float-right ml-2">{{ thumb(release.id) }}</div>

            {# Title and Year #}
            <div class="">
                <div class="rounded bg-slate-200 float-right p-1 leading-none">{{release.released|d()}}</div>
                <h2 class="text-lg leading-none"><a target="_blank" href="https://discogs.com/release/{{release.id}}"
                        class="hover:underline line-clamp-3">{{release.title}}</a></h2>
                <span class="text-slate-500 text-xs">by</span> {{release.artists|map(attribute="name")|join(', ')}}
            </div>

            {# Styles #}
            {{ tags(release.styles) }}

            {# Data #}
            <dl class="space-y-2">
                <div class="hidden sm:block">
                    <dt class="text-xs text-slate-700">Label</dt>
                    {% for label in release.labels %}
                    <dd>
                        <a href="https://discogs.com/label/{{label.id}}"
                            class="hover:underline block -mb-1">{{label.name}}</a>
                        <span class="text-slate-400 text-xs leading-none">{{label.catno}}</span>
                    </dd>
                    {% endfor %}
                </div>
                <div>
                    <dt class="text-xs text-slate-700">Format</dt>{% if release.formats is defined %}
                    {% for f in release.formats %}
                    <dd>
                        {{f.text|d()}}
                        {{f.descriptions|d()|join(' ')}} {{f.name|d()}}
                    </dd>{% endfor %} {% endif %}
                </div>
                <div class="w-full hidden sm:block">
                    <dt class="text-xs text-slate-700">Tracks</dt>
                    {% for track in release.tracklist %}
                    <dd class="text-xs flex gap-2">
                        <div class="text-slate-400">{{track.position|d()}}</div> {{track.title|d('Untitled')}}
                        <div class="grow"></div> {{track.duration|d('')}}
                    </dd>
                    {% endfor %}
                </div>
            </dl>
            {#
            <pre class="w-full text-wrap overflow-auto h-64 text-slate-400">{{release}}</pre> #}
        </div>
        <div class="shrink-0 sm:w-1/3 space-y-2">
            <div class="text-xs sm:text-sm grid grid-cols-1 sm:grid-cols-2 gap-2">
                <div class="col-span-2 flex items-center gap-2">
                    <a target="_blank"
                        href="https://youtube.com/search?q={{release.title}} {{release.artists|map(attribute='name')|join(' ')}}">
                        <svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
                            class="size-6 text-red-600 fill-current">
                            <title>YouTube</title>
                            <path
                                d="M23.498 6.186a3.016 3.016 0 0 0-2.122-2.136C19.505 3.545 12 3.545 12 3.545s-7.505 0-9.377.505A3.017 3.017 0 0 0 .502 6.186C0 8.07 0 12 0 12s0 3.93.502 5.814a3.016 3.016 0 0 0 2.122 2.136c1.871.505 9.376.505 9.376.505s7.505 0 9.377-.505a3.015 3.015 0 0 0 2.122-2.136C24 15.93 24 12 24 12s0-3.93-.502-5.814zM9.545 15.568V8.432L15.818 12l-6.273 3.568z" />
                        </svg> </a>

                    <a target="_blank"
                        href="https://music.youtube.com/search?q={{release.title}} {{release.artists|map(attribute='name')|join(' ')}}">
                        <svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
                            class="size-6 text-red-600 fill-current">
                            <title>YouTube Music</title>
                            <path
                                d="M12 0C5.376 0 0 5.376 0 12s5.376 12 12 12 12-5.376 12-12S18.624 0 12 0zm0 19.104c-3.924 0-7.104-3.18-7.104-7.104S8.076 4.896 12 4.896s7.104 3.18 7.104 7.104-3.18 7.104-7.104 7.104zm0-13.332c-3.432 0-6.228 2.796-6.228 6.228S8.568 18.228 12 18.228s6.228-2.796 6.228-6.228S15.432 5.772 12 5.772zM9.684 15.54V8.46L15.816 12l-6.132 3.54z" />
                        </svg>
                    </a>
                </div>
                <input type="hidden" name="release_id" value="{{release.id}}" />
                <button hx-post="/want" hx-target="closest div" hx-trigger="click"
                    hx-on::after-swap="event.stopPropagation()" hx-include="closest div"
                    class="border rounded p-2 bg-emerald-400 hover:bg-emerald-700 flex items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="size-6 sm:size-4 sm:mr-1">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12Z" />
                    </svg><span class="hidden sm:inline">I want this.</span></button>
                <button hx-post="/hide" hx-target="#release{{release.id}}" hx-trigger="click" hx-swap="delete"
                    hx-include="closest div, #search, #filters, #pagination"
                    class="border rounded p-2 bg-rose-400 hover:bg-rose-700 flex items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="size-6 sm:size-4 sm:mr-1">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M3.98 8.223A10.477 10.477 0 0 0 1.934 12C3.226 16.338 7.244 19.5 12 19.5c.993 0 1.953-.138 2.863-.395M6.228 6.228A10.451 10.451 0 0 1 12 4.5c4.756 0 8.773 3.162 10.065 7.498a10.522 10.522 0 0 1-4.293 5.774M6.228 6.228 3 3m3.228 3.228 3.65 3.65m7.894 7.894L21 21m-3.228-3.228-3.65-3.65m0 0a3 3 0 1 0-4.243-4.243m4.242 4.242L9.88 9.88" />
                    </svg><span class="hidden sm:inline">Hide this.</span>
                </button>
            </div>
            <div class="hidden sm:block">
                <dt class="text-xs text-slate-700">Notes</dt>
                <dd>
                    <pre class="text-wrap overflow-x-auto">{{release.notes|d('')}}</pre>
                </dd>
            </div>
        </div>
    </div>

</div>