{% macro activesearch(name, label, value, placeholder)%}
<div class="flex flex-col items-start">
    <label for="{{name}}">{{label}}</label>

    <input id="{{name}}" name="{{name}}" hx-trigger="input changed delay:500ms, search" hx-sync="this:replace"
        hx-get="/dig" hx-target="#results" hx-include="#search, #filters, #pagination" type="search"
        value="{{value|d()}}" placeholder="{{placeholder}}" class="rounded-md border p-2 w-1/5 min-w-64" />
</div>
{% endmacro %}