{% from "components/release-property.jinja" import property %}


<div id="release{{release.id}}" class="rounded p-2 border bg-slate-100 shadow">
    <div class="float-right ml-2 flex-none w-24 h-24 bg-gray-500 flex items-center justify-center overflow-hidden">
        {%if 'user'
        not in
        session %}<a href="/login" class="p-2">
            Login to see covers.
        </a>{% else %}<div hx-get="/thumb/{{release.id}}" id="loading{{release.id}}" hx-preserve
            hx-trigger="intersect once" hx-swap="innerHTML">
            Loading...
        </div>
        {% endif %}
    </div>

    <div class="float-right flex flex-col gap-2 items-end">
        <div class="rounded bg-slate-200 p-1 leading-none">{{release.released|d()}}</div>
        <div class="rounded bg-slate-200 p-1 leading-none">{{release.country|d()}}</div>
    </div>

    <h2 class="text-lg leading-tight"><a target="_blank" href="https://discogs.com/release/{{release.id}}"
            class="hover:underline line-clamp-3">{{release.title}}</a></h2>
    <span class="text-slate-500 text-xs">by</span> {{release.artists|map(attribute="name")|join(', ')}}

    <dl class="space-y-1 mt-2">
        <div>
            {% call(f) property("Format", release.formats) %}
            {{f.text|d()}}
            {{f.descriptions|d()|join(' ')}} {{f.name|d()}}
            {% endcall %}
        </div>
        <div>
            {% call(label) property("Label", release.labels) %}
            <a href="https://discogs.com/label/{{label.id}}" class="hover:underline block -mb-1">{{label.name}}</a>
            <span class="text-slate-400 text-xs leading-none">{{label.catno}}</span>
            {% endcall %}
        </div>
        {% if release.identifiers is defined %}
        <div>
            {% call(id) property("Identifiers", release.identifiers) %}
            <span class="text-slate-400 text-xs leading-none">{{id.type}}</span> {{id.value}}
            {% endcall %}
        </div>
        {% endif %}

        <div id="prices{{release.id}}" hx-get="/prices/{{release.id}}" hx-trigger="intersect once">
            {{property("Prices")}}
        </div>

        {# <div class="w-full hidden sm:block">
            {% call(track) property("Tracks", release.tracklist) %}
            <div class="flex gap-2">
                <div class="text-slate-400">{{track.position|d()}}</div> {{track.title|d('Untitled')}}
                <div class="grow"></div> {{track.duration|d('')}}
            </div>
            {% endcall %}
        </div> #}

        <div class="w-full hidden sm:block">
            <dt class="text-xs text-slate-700">Notes</dt>
            <dd>
                <pre class="text-wrap">{{release.notes|d('')}}</pre>
            </dd>
        </div>
    </dl>


    {% if release.videos is defined %}
    <div id="videos{{release.id}}">
        <iframe loading="lazy"
            src="https://www.youtube.com/embed/?playlist={{release.videos|unique|join(',')}}&version=3&fs=0&enablejsapi=0&rel=0"
            frameborder="0" allow="accelerometer; autoplay;
        encrypted-media; gyroscope;
        picture-in-picture" allowfullscreen class="w-full aspect-video"></iframe>
        {#
        <pre class="text-wrap">{{release.videos}}</pre> #}
    </div>
    {% endif %}

</div>