{% extends "layout.jinja" %}

{% from "components/active-search.jinja" import activesearch as activesearch %}
{% from "components/tags.jinja" import tags %}

{% block content %}
    <div class="overflow-auto">
        {% if session.user is defined %}
        {% else%}
        <div class="flex flex-col items-center justify-center gap-4 my-16">
            <div class="border rounded p-8 text-center">
                Sign up with a streaming service to generate AI recommendations
                <div class="flex gap-4 my-2">
                    <a href="/login"
                    class="p-2 hover:underline border rounded-lg mx-2 shadow my-2">Sign in with
                        <img src="https://asset.brandfetch.io/idhjWOeyjS/idAHPGcnww.svg"
                            class="h-6" />
                    </a>
                    <div class="p-2 w-32 hover:underline border rounded-lg mx-2 shadow my-2">more options coming soon...</div>
                </div>
            </div>
            <div>or pick a favorite style to get started:</div>
            <div class="text-center px-8">
                {{ tags(filters["Styles"]["buckets"][:100]|map(attribute="key")) }}
            </div>
        </div>
        {% endif %}
        
        <form id="search"
              action="{{ url_for('discover') }}"
              method="get"
              hx-push-url="true"
              hx-vals='{"page": "1"}'
              class="px-2 flex-none sm:flex sm:flex-wrap items-center gap-2 sticky top-0 py-4 z-10 bg-white">
            {{ activesearch("/discover", "label", "Label", label, "Defected") }}
            {{ activesearch("/discover", "artist", "Artist", artist, "Acen") }}
            {{ activesearch("/discover", "song", "Song Name", song, "Don't Cry Tonight") }}
            {{ activesearch("/discover", "released", "Year", released, "1977") }}
            <div class="col-span-2">
                <div class="flex items-start gap-2">
                    <input type="checkbox"
                           id="videos_only"
                           name="videos_only"
                           checked
                           hx-trigger="click"
                           hx-get="/discover"
                           hx-target="#results"
                           hx-swap="morph"
                           hx-include="#search, #filters, #pagination" />
                    <input type="hidden" name="videos_only" value="off" />
                    <label class="text-xs text-slate-700" for="videos_only">Videos Only</label>
                </div>
                <div class="flex items-start gap-2">
                    <input type="checkbox"
                           id="masters_only"
                           name="masters_only"
                           checked
                           hx-trigger="click"
                           hx-get="/discover"
                           hx-target="#results"
                           hx-swap="morph"
                           hx-include="#search, #filters, #pagination" />
                    <input type="hidden" name="masters_only" value="off" />
                    <label class="text-xs text-slate-700" for="masters_only">Masters Only (may hide remixes)</label>
                </div>
            </div>
            {% include "discover/active_filters.jinja" %}

        </form>
        <div id="results"
             class="flex flex-col min-w-0 flex-grow items-center"
             hx-get="/discover"
             hx-trigger="load"
             hx-swap="outerHTML"
             hx-include="#search, #filters, #pagination">{% include "components/loader.jinja" %}</div>
        {% include "discover/filters.jinja" %}
    </div>
{% endblock content %}
