{% extends "layout.jinja" %}
{% from "components/active-search.jinja" import activesearch as activesearch %}

{% block content %}
<form id="search" action="/discover" method="get" hx-push-url="true" hx-vals='{"page": "1"}'
    class="m-2 flex-none grid grid-cols-2 sm:flex sm:flex-wrap items-center gap-2">

    {{ activesearch("/discover", "label", "Label", label, "Defected") }}
    {{ activesearch("/discover", "artist", "Artist", artist, "Acen") }}
    {{ activesearch("/discover", "song", "Song Name", song, "Don't Cry Tonight") }}

    <div class="col-span-2">
        <div class="flex items-start gap-2">
            <input type="checkbox" id="videos_only" name="videos_only" checked hx-trigger="click" hx-get="/discover"
                hx-target="#results" hx-swap="morph" hx-include="#search, #filters, #pagination" />
            <input type="hidden" name="videos_only" value="off" />
            <label class="text-xs text-slate-700" for="videos_only">Videos Only</label>
        </div>
        <div class="flex items-start gap-2">
            <input type="checkbox" id="masters_only" name="masters_only" checked hx-trigger="click" hx-get="/discover"
                hx-target="#results" hx-swap="morph" hx-include="#search, #filters, #pagination" />
            <input type="hidden" name="masters_only" value="off" />
            <label class="text-xs text-slate-700" for="masters_only">Masters Only (may hide remixes)</label>
        </div>
    </div>


    {% include 'discover/active_filters.jinja' %}

</form>


<div id="results" class="flex flex-col min-w-0 flex-grow items-center" hx-get="/discover" hx-trigger="load"
    hx-swap="outerHTML" hx-include="#search, #filters, #pagination">
    <svg alt="Results loading..." class="grow size-48" version="1.1" id="L9" xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 100 100" enable-background="new 0 0 0 0"
        xml:space="preserve">
        <path fill="#135488"
            d="M73,50c0-12.7-10.3-23-23-23S27,37.3,27,50 M30.9,50c0-10.5,8.5-19.1,19.1-19.1S69.1,39.5,69.1,50">
            <animateTransform attributeName="transform" attributeType="XML" type="rotate" dur="1.5s" from="0 50 50"
                to="360 50 50" repeatCount="indefinite" />
        </path>
    </svg>
</div>


{% include 'discover/filters.jinja' %}
{% endblock %}