<div id="filters" hx-swap-oob="true"
    class="absolute inset-0 h-full w-full bg-white -translate-x-full target:translate-x-0 shrink-0 flex flex-col">
    <div class="flex items-center justify-between text-xl px-2 bg-slate-100">Filters <a
            class="border rounded p-2 my-2 text-sm" href="#">Close Filters</a></div>
    <div class="overflow-auto grow p-2">
        {% for f in filters %}
        <h3 class="text-lg">{{f}}</h3>
        <div class="grid grid-cols-3 md:grid-cols-4 gap-x-2">
            {% set field = filters[f]['meta']['field']%}
            {% for v in filters[f]["buckets"] %}
            <label
                class="border p-1 sm:p-px rounded-lg sm:border-none has-[:checked]:bg-blue-400 flex
                    mb-1 sm:mb-0 items-center leading-tight hyphens-auto break-normal text-ellipsis overflow-hidden"><input
                    class="peer hidden sm:block mr-1" hx-get="/releases#filters" hx-target="#results" hx-swap="morph"
                    hx-include="#search, #filters, #pagination" type="checkbox" hx-vals='{"page": "1"}' name="{{field}}"
                    value='{{v["key"]}}' hx-push-url="true" {% if v["key"] in request.args.getlist(field) %}checked{%
                    endif %} />
                {{v["key"]}} <div class="hidden sm:inline text-xs text-slate-700 leading-none ml-auto">
                    ({{v["doc_count"]}})
                </div>
            </label>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
</div>