{% extends "layout.jinja" %}
{% block content %}
<form id="search" action="/releases" method="get" hx-boost="true" hx-push-url="true" hx-vals='{"page": "1"}'
    class="px-4 flex-none flex flex-wrap items-stretch gap-2 relative">


    <div class="flex flex-col items-start">
        <label for="label">Label</label>

        <input id="label" hx-trigger="input changed delay:500ms, search" hx-get="/releases" hx-target="#results"
            hx-include="#search, #filters, #pagination" type="search" name="label" value="{{label|d()}}"
            placeholder="Defected" class="rounded-md border p-2 w-1/5 min-w-64" />
    </div>


    <div class="flex flex-col items-start">
        <label for="song">Song Name</label>

        <input id="song" hx-trigger="input changed delay:500ms, search" hx-get="/releases" hx-target="#results"
            hx-include="#search, #filters, #pagination" type="search" name="song" value="{{song|d()}}"
            placeholder="Don't Cry Tonight" class="rounded-md border p-2 w-1/5 min-w-64" />
    </div>

    <div class="flex flex-col items-start">
        <label for="artist">Artist</label>

        <input id="artist" hx-trigger="input changed delay:500ms, search" hx-get="/releases" hx-target="#results"
            hx-include="#search, #filters, #pagination" type="search" name="artist" value="{{artist|d()}}"
            placeholder="Acen" class="rounded-md border p-2 w-1/5 min-w-64" />
    </div>


    <div class="flex items-center gap-2">
        <label for="videos_only">Only Release with Videos</label>
        <input type="checkbox" id="videos_only" name="videos_only" checked hx-trigger="click" hx-get="/releases"
            hx-target="#results" hx-include="#search, #filters, #pagination" />
        <input type="hidden" name="videos_only" value="off" />
    </div>

    <a class="absolute block top-2 rounded-l border border-r-0 shadow-lg bg-white p-2 right-0" href="#filters">Filters
        >></a>

</form>


<div id="results" class="relative grow flex flex-col min-w-0 overflow-auto">
    {% include 'releases/results.jinja' %}
</div>

<div id="filters"
    class="absolute inset-0 h-full w-full bg-white -translate-x-full target:translate-x-0 shrink-0 flex flex-col">
    <div class="flex items-center justify-between text-xl px-2 bg-slate-100">Filters <a
            class="border rounded p-2 my-2 text-sm" href="#">Close Filters</a></div>
    <div class="overflow-auto grow p-2">
        {% for f in filters %}
        <h3 class="text-lg">{{f}}</h3>
        <div class="grid grid-cols-3 md:grid-cols-4 gap-x-2">
            {% for v in filters[f]["buckets"] %}
            <label
                class="border p-1 sm:p-px rounded-lg sm:border-none has-[:checked]:bg-blue-400 flex
                    mb-1 sm:mb-0 items-center leading-tight hyphens-auto break-normal text-ellipsis overflow-hidden"><input
                    class="peer hidden sm:block mr-1" hx-get="/releases" hx-target="#results"
                    hx-include="#search, #filters, #pagination" type="checkbox" hx-vals='{"page": "1"}'
                    name="{{filters[f]['meta']['field']}}" value='{{v["key"]}}' hx-push-url="true" {% if
                    filters[f]['meta']['field'] in request.args and request.args[filters[f]['meta']['field']]==v["key"]
                    %}checked{% endif %} />
                {{v["key"]}} <div class="hidden sm:inline text-xs text-slate-700 leading-none ml-auto">
                    ({{v["doc_count"]}})
                </div>
            </label>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}