{% extends "layout.jinja" %}
{% block content %}
<div id="content" class="pt-4 grow flex flex-col min-h-0 shrink gap-y-4">
    <div class="px-4 flex-none flex items-stretch gap-4">
        <input type="text" placeholder="Label" class="rounded-md border p-2 w-1/5 min-w-64" />
    </div>

    <div class="grow overflow-auto">{% if wants is defined %}{{wants}}{% endif %}</div>

    <div class="flex-none w-full h-16 flex items-center px-4 gap-4 border-t bg-white">
        <div>Show <span class="font-bold">1 - 100</span> of <span class="font-bold">57475</span> results</div>
        <div class="grow"></div>
        <div>
            Results per page
            <select name="pageSize" hx-get="/" hx-replace-url="true" hx-target="body" class="border rounded-md p-2">
                <option value="25" {{"selected" if pageSize=="25" }}>25</option>
                <option value="50" {{"selected" if pageSize=="50" }}>50</option>
                <option value="100" {{"selected" if pageSize=="100" }}>100</option>
            </select>
        </div>
        <div class="flex items-center">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="size-6 flex-none">
                <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5 8.25 12l7.5-7.5" />
            </svg>
            Page <input type="number" class="border mx-2 p-2 w-16" value="1" /> of 575
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="size-6 flex-none">
                <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
            </svg>
        </div>
    </div>
    {% endblock %}